body {
  background: linear-gradient(69.66deg, #00c1fe 19.39%, #faffc1 96.69%);
  font-family: "Montserrat", sans-serif;
}
.form-container h1 {
  border-left: 8px solid #00c1fe;
}
.rounded {
  border-radius: 1.25rem !important;
}
.lien {
  color: #00c1fe;
}
